root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = single
max_line_length = 80

[*.md]
trim_trailing_whitespace = false

[*.{ts,tsx,js,jsx,css,scss,package.json,.*rc,*.yml}]
indent_size = 2
indent_style = space